{% extends "base.html" %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}

<h3><p><a href="{% url 'item_list' %}">Назад до переліку альбомів</a></p></h3>

<h2></h2>
<p><h3>{{ object.description }}</h3></p>

<h3></h3>

    {% for photo in object.photo_set.all %}
    <th>
        <td><i>{{ photo.title }}</i></td>
         <p><td>
            <a href="{{ photo.get_absolute_url }}">
               <article id="preview">
              <img src="{{ photo.image.thumb_url }}" />
                    </article>
            </a>
        </td></p>
        <td>{{ photo.caption }}</td>
    </th>

    {% endfor %}

{% endblock %}
