{% extends "base.html" %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}

<h3><p><a href="{% url 'item_list' %}">Назад до переліку альбомів</a></p></h3>

<h2>{{ object.name }}</h2>
<p><h3>{{ object.description }}</h3></p>

<h3></h3>
<table>
    <tr>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    {% for photo in object.photo_set.all %}
    <tr>
        <td><i>{{ photo.title }}</i></td>
        <td>
            <a href="{{ photo.get_absolute_url }}">
                <img src="{{ photo.image.thumb_url }}" />
            </a>
        </td>
        <td>{{ photo.caption }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
